Source: soapyhackrf
Section: libs
Priority: optional
Maintainer: jocover <jiangwei0402@gmail.com>
Uploaders: Josh Blum <josh@pothosware.com>
Build-Depends:
    debhelper (>= 9.0.0),
    cmake,
    libhackrf-dev,
    libsoapysdr-dev
Standards-Version: 4.5.0
Homepage: https://github.com/pothosware/SoapyHackRF/wiki
Vcs-Git: https://github.com/pothosware/SoapyHackRF.git
Vcs-Browser: https://github.com/pothosware/SoapyHackRF

Package: soapysdr0.7-module-hackrf
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Soapy HackRF - HackRF device support for Soapy SDR.
 A Soapy module that supports HackRF devices within the Soapy API.

Package: soapysdr-module-hackrf
Architecture: all
Depends: soapysdr0.7-module-hackrf, ${misc:Depends}
Description: Soapy HackRF - HackRF device support for Soapy SDR.
 A Soapy module that supports HackRF devices within the Soapy API.
 .
 This is an empty dependency package that pulls in the HackRF module
 for the default version of libsoapysdr.
